body {
    background-color: rgb(255, 248, 239);
}

.container {
    margin: 0 auto;
    padding: 0;
    height: auto;
    width: 1410px;
}

/* 1440x900 	5.26%  */

@media (max-width: 1440px) {
    .container {
        width: 1230px;
    }
}

/* 1366x768 	20% */

@media (max-width: 1366px) {
    .container {
        width: 1170px;
    }
}

/* 1280x1024 	5.20% */

@media (max-width: 1280px) {
    .container {
        width: 1020px;
    }
}

/* 1024x768 	12.06% */

@media (max-width: 1024px) {
    .container {
        width: 960px;
    }
}

/* anything below 960 is Tablet vertical or phone -  768x1024 - 5.06% */

@media (max-width: 960px) {
    .container {
        width: 100%;
    }
}